html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */

}
.orange{
    color: #FF7300 !important;
}
.lightorange{
    color:#fc892c
}
.blue{
    color: #0D6EFD !important;
}
.white{
    color: white !important;
}
.btn-orange{
    color: white !important;
    background-color: #FF7300 !important;
}
.btn-outline-orange{
    color: #FF7300 !important;
    border: 1px solid #FF7300 !important;
    /* background-color: #FF7300 !important; */
}

.fa-stack[data-count]:after{
    position:absolute;
    right:-15%;
    top:-15%;
    content: attr(data-count);
    font-size:73%;
    padding:.2em .1em;
    border-radius:10px;
    line-height:.75em;
    color: white;
    text-align:center;
    min-width:2em;
    font-weight:bold;
    background: #FF7300;
    border-style:solid;
}
.flash{
    margin-top: -45px;
}
.carousel-item img{
    height: 350px;
    margin: auto;
}

.ht-brands{
    margin-top: 0px;
}

.prod:nth-child(n+2){
    margin-left: 80px;
}
.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #313122; /* Blue */
    border-bottom: 2px solid #313122; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.frm-input {
    padding-top: 0.06rem;
    padding-bottom: 0.26rem;
    margin-right: -4px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


main .cart table tbody td:last-child,
main .cart table thead td:last-child {
	text-align: right;
}
main .cart table .img {
	width: 80px;
}
main .cart table .remove {
	color: #777777;
	font-size: 12px;
	padding-top: 3px;
    border: 0;
    background: none;
    padding: 0;
}
main .cart table .remove:hover {
	text-decoration: underline;
}
main .cart table .price {
	color: #999999;
}
main .cart table a {
	text-decoration: none;
	color: #555555;
}
main .cart table input[type="number"] {
	width: 68px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
main .cart .subtotal {
	text-align: right;
	padding: 40px 0;
}
main .cart .subtotal .text {
	padding-right: 40px;
	font-size: 18px;
}
main .cart .subtotal .price {
	font-size: 18px;
	color: #999999;
}
main .cart .buttons {
	text-align: right;
	padding-bottom: 40px;
}
main .cart .buttons input[type="submit"] {
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
main .cart .buttons input[type="submit"]:hover {
	background: #434f61;
}
main .placeorder h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main .placeorder p {
	text-align: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #ffffff;
    margin-top: 500px;
}
.footer .container {
    background-color: #ecf2f8;
}
.footer .container p {
    text-align: center;
    margin: auto;
}